<!DOCTYPE html>
<html lang="en">


   {{> head}}



<body>


{{> navbar}}


<div class="row">
<div class="col-8">
    <h1>Imagen de playa</h1>
</div>

<div class="col-4">
    <img src="assets/img/playa.jpg" class="img-thubmail"/>
</div>



    </div>



</body>
</html>